name: Build and Test
on:
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "LICENSE"

  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]

  workflow_call:

permissions:
  contents: read

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
        env:
          GOTOOLCHAIN: auto

      - name: Build
        run: go build -v .

      - name: Run Tests
        run: go test -race -v ./...
